.home {
  padding: 20px;
  box-sizing: border-box;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
    border-bottom-width: 1px;
    padding: 0 20px;
    background: #fff;
    z-index: 10;
  }
}
